html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #7c0000;
    background-image: linear-gradient(326deg, #7c0000 0%, #3e0000 74%);
    text-shadow: 1px 1px 2px black;
}

body, input, button {
    font-family: 'Wellfleet', serif;
    color: white;
}

button {
    cursor: pointer;
    height: 50px;
    width: 150px;
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: #298F46;
    font-size: 16px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.hidden {
    display: none !important;
}

.container {
    height: 100%;
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dice-number-options {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
}

input[type="radio" i] {
    background-color: #5f72be;
}

.rolled-dice-container {
    display: flex;
    gap: 32px;
}

.rolled-dice-value {
    height: 30px;
}

@media screen and (max-width: 800px) {
    .dice-number-options {
        margin-bottom: unset;
    }
}